<div class="row">
  <div class="col-xs-12 col-sm-8 col-lg-8">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <span>&copy; 2015 - Money Tracker</span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-6">
        <a href="http://goo.gl/forms/oNVbY2zy7o" target="_blank">Give us Feedback</a>
        <i class="fa fa-thumbs-o-up" style="font-size: 1em; padding-right:10px"></i>

        <a href="mailto:moneytracker.forum@gmail.com?subject=Bug Report">Report Bug</a>
        <i class="fa fa-bug" style="font-size: 1em"></i>
      </div>
    </div> 
  </div>

  <div class="col-xs-12 col-sm-4 col-lg-4" style="text-align: right">
    <div class="row">
      <span>Follow Us: </span>
      <a href="https://twitter.com/mt_forum" target="_blank">
        <i class="fa fa-facebook circle" style="font-size: 1.6em;background-color: rgb(48, 88, 145);"></i>
      </a>

      <a href="https://twitter.com/mt_forum" target="_blank">
        <i class="fa fa-twitter circle" style="font-size: 1.6em;background-color: rgb(44, 168, 210);"></i>
      </a>
      
      <a href="" >
        <i class="fa fa-google-plus circle" style="font-size: 1.6em;background-color:#DB4B39"></i>
      </a>
    </div>
  </div>
</div>
