<div>
 <div class="modal-header">
  <h2 class="modal-title">
    Sign Up
  </h2>
 </div>
 <form id="registerForm" name="registerForm" novalidate role="form">
 <div class="modal-body scrollArea" style="height: auto">
	<div class="row" style="padding-bottom: 10px">
		<div class="col-xs-12 col-sm-12 col-lg-12">
		<div class="alert alert-danger" ng-show="error">
			There was a problem creating user. Please try again.
		</div>
		</div>
	</div>

	<div class="row" style="padding-bottom: 10px">
	   <div class="col-xs-12 col-sm-12 col-lg-12">
  		<div class="form-group">
  			<label for="username">Name:
          <span class="error-message" ng-if="registerForm.name.$error.minlength">
            Too short! Min. 3 Characters</span>
          <span class="error-message" ng-if="registerForm.name.$error.maxlength">
            Too long! Max. 15 Characters</span><br>
        </label>
  			<input type="text"
  				class="form-control" id="name" name="name" ng-model="user.name" ng-minlength="3" ng-maxlength="15" required/>

  		</div>
	   </div>
	</div>

	<div class="row" style="padding-bottom: 10px">
	   <div class="col-xs-12 col-sm-12 col-lg-12">
		<div class="form-group">
			<label for="username">E-mail:</label>
			<input type="email"
				class="form-control" id="username" name="username" ng-model="user.username" required/>
		</div>
	   </div>
	</div>

	<div class="row" style="padding-bottom: 10px">
	   <div class="col-xs-12 col-sm-12 col-lg-12">
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password"
			class="form-control" id="password" name="password" ng-model="user.password" required/>
		</div>
	   </div>
	</div>

	<div class="row" style="padding-bottom: 10px">
	   <div class="col-xs-12 col-sm-12 col-lg-12">
		<div class="form-group">
			<label for="password">Confirm:</label>
			<input type="password"
			class="form-control" id="confirm" name="confirm" ng-model="confirmPassword" ng-blur="checkPassword()" required/>
		</div>
	   </div>
	</div>

  <div class="row" style="padding-bottom: 10px">
     <div class="col-xs-7 col-sm-7 col-lg-7"></div>
     <div class="col-xs-2 col-sm-2 col-lg-2">
       <button type="submit" class="btn btn-text btn-lg" ng-click="cancel()">
         Cancel
       </button>
 		</div>
     <div class="col-xs-3 col-sm-3 col-lg-3">
		  <button type="submit" class="btn btn-primary btn-lg" ng-click="register()" busy="Please wait..." 
       ng-disabled="registerForm.$invalid">
        Sign Up <i ng-show="busy" class="fa fa-cog fa-spin"></i>
      </button>
		 </div>

	</div>
 </div>
</form>
