<div class="article">
  <div ng-include="'modules/transaction/crud-buttons.html'"></div>

  <div class="padding6"></div>
  <div ng-show="transactions.length > 0">
   <form id="form_tr" name="form_tr" novalidate>
   <table ng-table="tableParams" class="table table-bordered table-hover table-condensed">
   <thead>
    <tr style="height: 34px">
        <th>
          <div>
            <button class="btn-text" 
              ng-class="{'selected': allSelected, 'unselected': !allSelected}" 
              ng-click="selectAll()">
              <i class="fa fa-check check"></i>
            </button>
          </div>
        </th>
        <th>
          <div>Type</div>
        </th>
        <th class="sortable" style="text-align: center" ng-class="{
            'sort-asc': tableParams.isSortBy('onDate', 'asc'),
            'sort-desc': tableParams.isSortBy('onDate', 'desc')
          }"
            ng-click="tableParams.sorting({'onDate' : tableParams.isSortBy('onDate', 'asc') ? 'desc' : 'asc'})">
            <div><i class="fa fa-calendar"></i> Date</div>
        </th>

        <th style="text-align: center" >
            <div><i class="fa fa-tag"></i> Category</div>
        </th>

        <th style="text-align: center" >
            <div><i class="fa fa-university"></i> Account</div>
        </th>
        <th class="sortable" style="text-align: center" ng-class="{
            'sort-asc': tableParams.isSortBy('amount', 'asc'),
            'sort-desc': tableParams.isSortBy('amount', 'desc')
          }"
            ng-click="tableParams.sorting({'amount' : tableParams.isSortBy('amount', 'asc') ? 'desc' : 'asc'})">
            <div><i class="fa fa-inr"></i> Amount</div>
        </th>
        <th class="sortable" style="text-align: center" ng-class="{
            'sort-asc': tableParams.isSortBy('description', 'asc'),
            'sort-desc': tableParams.isSortBy('description', 'desc')
          }"
            ng-click="tableParams.sorting({'description' : tableParams.isSortBy('description', 'asc') ? 'desc' : 'asc'})">
            <div><i class="glyphicon glyphicon-align-justify"></i> Description</div>
        </th>

        <th></th>
    </tr>
  </thead>
  <tbody>
  <tr id="tr{{t.id}}" ng-repeat="t in transactions" ng-class-odd="'odd-row'" ng-class-even="'even-row'">
    <td style="text-align: center; width: 4%">
      <div>
        <button class="btn-text"
        ng-class="{'selected': t.$$selected, 'unselected': !t.$$selected}" 
        ng-click="select(t)">
          <i class="fa fa-check check"></i>
        </button>
      </div>      
    </td>
    <td style="text-align: center; width: 4%">
      <span ng-if="t.category.transactionType.code== 'E'" class="btn btn-danger btn-sm circle tran-type" tooltip="Expense">
        <i class="glyphicon glyphicon-export"/>
        <!-- <i class="fa fa-level-up"></i> -->
      </span>
      <span ng-if="t.category.transactionType.code== 'I'" class="btn btn-success btn-sm circle tran-type" tooltip="Income">
        <i class="glyphicon glyphicon-import"/>
        <!-- <i class="fa fa-level-down"></i> -->
      </span>
      <span ng-if="t.category.transactionType.code== 'T'" class="btn btn-warning btn-sm circle tran-type" tooltip="Transfer">
        <i class="glyphicon glyphicon-transfer"/>
        <!-- <i class="fa fa-exchange"></i> -->
      </span>
    </td>
    <td style="text-align: left; width: 11%" data-title="'Date'" sortable="'onDate'">
      <span ng-if="!t.$$edit">
        <a href="" ng-click="edit(t)">{{t.onDate | date: dateFormat }}</a>
      </span>
      <div class="input-group" ng-if="t.$$edit">
        <input id="t{{t.id}}onDate" type="text" show-button-bar="true" datepicker-popup="{{dateFormat}}" datepicker-options="dateOptions" class="form-control" data-ng-model="t.onDate" min-date="minDate" is-open="t.$$dateOpened" close-text="Close" ng-click="openDate($event, t)" ng-change="dateChanged(t)" required >          
      </div>
    </td>

    <td data-title="'Category'" sortable="'category.name'" style="text-align: left; width: 20%">
      <span ng-if="!t.$$edit">{{t.category.name}}</span>
      <div ng-if="t.$$edit">
        <select id="category"
           ui-select2
           name="category" class="form-control" ng-model="t.categoryId" ng-change="categoryChanged(t)" required>
           <option value="">--SELECT--</option>
           <option ng-repeat="c in categories | orderBy:'displayName'" id="{{c.id}}" value="{{c.id}}">{{c.displayName}}</option>
       </select>
      </div>
    </td>
    <td data-title="'Account'" sortable="'account'" style="text-align: left; width: 12%">
      <span ng-if="!t.$$edit">{{t.account.name}}</span>
      <div ng-if="t.$$edit">
        <select id="account"
           ui-select2
           name="account" class="form-control" ng-model="t.accountId" ng-change="accountChanged(t)" required>
           <option ng-repeat="a in accounts | orderBy:'name'" id="{{a.id}}" value="{{a.id}}">{{a.name}}</option>
       </select>
      </div>
    </td>
    <td style="text-align: right; width: 13%" data-title="'Amount'" sortable="'amount'">
      <span ng-if="!t.$$edit" ng-class="{expense:t.category.transactionType.code== 'E', income:t.category.transactionType.code == 'I', transfer: t.category.transactionType.code == 'T'}">{{t.amount | number : 2 }}</span>
      <div ng-if="t.$$edit">
        <input id="t{{t.id}}_amount" name="t{{t.id}}_amount" class="form-control" type="number" ng-model="t.amount" ng-change="tranChanged(t)" step="{{defaultNumberStep}}" required />
      </div>
    </td>
    <td style="text-align: left; width: 32%" class="long-text" data-title="'Description'" sortable="'description'">
      <span ng-if="!t.$$edit">{{t.description}}</span>
      <div ng-if="t.$$edit">
        <input id="t{{t.id}}desc" class="form-control" type="text" ng-model="t.description"  ng-change="tranChanged(t)" />
      </div>
    </td>
    <td  style="text-align: left; width: 3%">
      <div ng-if="!t.message">
        <button class="btn btn-default btn-sm circle" ng-click="advanced(t)" tooltip="Advanced Mode">
            <i class="fa fa-expand"></i>
        </button>
      </div>
      <div ng-if="t.message">
        <div ng-if="t.messageType == 'err' || t.messageType == 'warn'">
          <span ng-class="{danger: t.messageType == 'err', warning:t.messageType == 'warn'}">
            <i tooltip="{{t.message}}" class="fa fa-exclamation-triangle notify"></i>
          </span>
        </div> 
        <div ng-if="t.messageType == 'success'">
         <span class="success">
          <i ng-if="t.message == 'Ok to Save'" tooltip="{{t.message}}" class="fa fa-thumbs-up notify"></i>
          <i ng-if="t.message != 'Ok to Save'" tooltip="{{t.message}}" class="fa fa-check notify"></i>
         </span>
        </div> 
      </div>
    </td>      
    </tr>
    </tbody>
    </table>
   </form>
   <div class="row">
     <div class="col-xs-12 col-sm-12 col-lg-12">
       <span class="note">Note: <br>
         1. Click on the Date hyperlink to edit the transaction.<br>
         2. Click on the <i class="fa fa-expand"></i> icon to open in advanced mode.
      </span>
     </div>
   </div>
  </div>

  <div ng-if="tranInitialized && transactions.length == 0">
    <div class="row" style="text-align: center">
      <div class="col-xs-12 col-sm-12 col-lg-12">
        <span class="error-message padding20">
          Transactions Bucket seems to be empty. <br><br>

          Either change the search criteria or<br>
          Click on the 
          <button class="btn btn-success btn-sm circle" ng-click="add()">
            <i class="fa fa-plus"></i>
          </button> icon to add a new transaction.
        </span>
      </div>
    </div>
  </div>
</div>
